<header>
	<div class="container">
	<span class="header__logo"><h1 class="logo__h1">JETRO</h1></span>
	<nav class="header__menu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About  Us</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Contact  US</a></li>
		</ul>
	</nav>
	</div>
	<!-- begin header__name -->
	<div class="header__title">
		<div class="background_rectangles">
			<div class="left__rectangle side__rectangle"></div>
			<div class="right__rectangle side__rectangle"></div>
			<div class="center__rectangle"><h2 class="h2">Blog</h2></div>
		</div>	
	</div>
	<!-- end header__name -->
</header>