// done by riverco.de
@import helpers/all
@import generated/sprite-svg
@import common
@import layouts
@import main

*
  margin: 0
  padding: 0

.container
  width: 940px
  margin: auto
    background: #FFF url(../img/img/bg.png) no-repeat center;


.header__menu
  float: right
  padding-top: 35px
  ul li
    cursor: pointer
    display: inline
    margin-right: 51px
    &:nth-child(5)
      margin-right: 0px
    a
      color: black
      text-decoration: none
      font-family: sans-serif
      font-size: 18px

.h2
  width: 47px
  height: 23px
  color: #ffffff
  font-family: Bebas
  font-size: 24px
  font-weight: 400
  padding-top: 19px
  padding-left: 19px

.header__logo
  float: left
  width: 87px
  height: 34px
  color: #e8603c
  font-family: Bebas
  font-size: 36px
  font-weight: 400
  text-transform: uppercase

.background_rectangles
  padding-top: 78px
  padding-bottom: 30px

.center__rectangle
  width: 940px
  height: 61px
  background-color: #e8603c
  margin: auto

.left__rectangle
  float: left

.right__rectangle
  float: right 

.side__rectangle
  width: 180px
  height: 61px
  background-color: rgba(232, 96, 60, 0.5)

.post__statistic
  float: left    

.small__red__text
  font-size: 16px  

.small__grey__text
  font-size: 16px  

.blog__block
  position: relative
  width: 100%
  height: auto
  padding-bottom: 30px

.blog__icon
  padding-top: 20px
  position: absolute
  left: -90px
  height: 75px
  width: 75px
  background-color: #e8603c
  text-align: center

.post__text
  padding-left: 150px
  width: 670px

.article
  color: #e8603c
  font-family: Bebas
  font-size: 18px

.post__text__info
  font-size: 12px
  

.dots__line
  padding-top: 20px

.blog__small__img
  position: absolute
  top: 20px
  left: 34px
  height: 75px
  float: left

.blog__first__topic
  float: left
  padding-bottom: 30px

.quote__text__info
  padding-top: 25px
  padding-left: 70px
  font-size: 13px
  width: 670px

.quote__block
  background-color: #f5f5f5
  width: 670px

.link__text
  padding: 0

.paggination
  padding-bottom: 20px
  ul li
    display: inline-block
    text-align: center
    height: 26px
    width: 26px
    background-color: #f3b29d
    cursor: pointer
    margin-right: 20px
    &:hover
     background-color: #e8663c
    a
      color: black
      text-decoration: none
      font-family: sans-serif
      font-size: 18px

.h3
  padding-top: 2px

.block__sidebar
  display: block
  float: right
  width: 25%


.sidebar__content


.gallery


.gallery__photo
  width: 50px
  height: 50px
  border: 1px solid #e8603c
  background-color: #f3af9d
  display: inline-block
  margin-right: 5px

















@mixin bebas_neue
   font-family: 'bebas_neue',sans-serif
@font-face
   font-family: 'bebas_neue'
   src: url('/fonts/bebas_neue.woff')

@mixin bebasneue_bold
  font-family: 'bebasneue_bold',sans-serif
@font-face
  font-family: 'bebasneue_bold'
  src: url('/fonts/bebasneue_bold.woff')

@mixin bebasneue_book
  font-family: 'bebasneue_book',sans-serif
@font-face
  font-family: 'bebasneue_book'
  src: url('/fonts/bebasneue_book.woff')

@mixin bebasneue_light
  font-family: 'bebasneue_light',sans-serif
@font-face
  font-family: 'bebasneue_light'
  src: url('/fonts/bebasneue_light.woff')

@mixin bebasneue_regular
  font-family: 'bebasneue_regular',sans-serif
@font-face
  font-family: 'bebasneue_regular'
  src: url('/fonts/bebasneue_regular.woff')

@mixin bebasneue_thin
  font-family: 'bebasneue_thin',sans-serif
@font-face
  font-family: 'bebasneue_thin'
  src: url('/fonts/bebasneue_thin.woff')

