// done by riverco.de
@import helpers/all
@import generated/sprite-svg
@import common
@import layouts
@import main

*
  margin: 0
  padding: 0

.header__menu
  float: right
  ul li
    display: inline
    margin-right: 51px
    &:nth-child(6)
      margin-right: 0px
    a
      color: black
      text-decoration: none
      font-family: sans-serif
      font-size: 18px


.header__logo
  float: left
  width: 87px
  height: 34px
  color: #e8603c
  font-family: Bebas
  font-size: 36px
  font-weight: 400
  text-transform: uppercase

.background_rectangles
  padding-top: 78px

.center__rectangle
  width: 940px
  height: 61px
  background-color: #e8603c
  margin: auto

.left__rectangle
  float: left

.right__rectangle
  float: right 

.side__rectangle
  width: 220px
  height: 61px
  background-color: rgba(232, 96, 60, 0.5)

