<div class="container">
<!--  header  -->
<header>
	<a class="logo js-coup" href="#">JET<span>RO</span></a>
	<nav class="header__nav">
		<ul class="header__ul">
		   {% for item in menu %}
			<li class="header__li js-emergence"><a class="header__a {{item.active}}" href="{{item.link}}">{{item.menu}}</a></li>
		   {% endfor %}
		</ul>
	</nav>
</div>
</header>
</div>
<!-- header  -->

<!--header-line  -->
<div class="header-line">
<div class="header-left"></div>
<div class="header-info">
	<h2 class="caption">blog</h2>
</div>
<div class="header-right"></div>
</div>
<!-- header-line  -->
