<header>
			<div class="container">
			  <span class="header__logo"><img src="img/logo.png" alt=""></span>  
            <nav class="header__menu">
                   <ul>
                       <li><a href="#">About</a></li>
                       <li><a href="#">Download</a></li>
                       <li><a href="#">Workflow</a></li>
                       <li><a href="#">Support</a></li>
                       <li><a href="#">User Stories</a></li>
                       <li><a href="#">Contact</a></li>
                   </ul> 
            </nav> 
				<div class="header__more">
					<h3>Built with app designers in mind</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
					<button class="ghost__btn" >HOW IT WORK</button>
				</div>
				<div class="header__image">
					<img src="img/iphone.png" alt="">
				</div>
				<div class="clear"></div>
			</div>
		</header>