---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% include "partials/_header.html" %}
	<!-- begin container -->
	<div class="container">
		<!-- begin blog__block -->
		<div class="blog__block">
			<!-- begin blog__icon -->
			<div class="blog__icon">
				<img src="img/icons/files.png" alt="">
			</div>
			<!-- end blog__icon -->
			<!-- begin blog__posts -->
			<div class="blog__posts blog__first__topic">
				<!-- begin blog__img -->
				<div class="blog__img">
					<img src="/img/img/slider_one.png" alt="">
				</div>
				<!-- end blog__img -->
				<!-- begin blog__post__data -->
				<div class="blog__post__data">
					<!-- begin post__statistic -->
					<div class="post__statistic">
						<h3 class="small__red__text">Date</h3>
						<p class="small__grey__text"> April 15, 2012</p>
						<h3 class="small__red__text">Tags</h3>
						<p class="small__grey__text">Website | Design</p>
						<h3 class="small__red__text">Comments</h3>
						<p class="small__grey__text">4</p>				
					</div>
					<!-- end post__statistic -->
					<!-- begin post__text -->
					<div class="post__text">
						<h2 class="article">Top  WordPress  Themes  of  2012</h2>
						<p class="post__text__info">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
						</p>
						<p class="post__text__info">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
					</div>
					<!-- end post__text -->
				</div>
				<!-- end blog__post__data -->
			</div>
			<!-- end blog__posts -->
		</div>
		<!-- end blog__block -->
		<!-- begin block__sidebar -->
				<div class="block__sidebar">
					<!-- begin sidebar__content -->
					<div class="sidebar__content">
						<h3 class="medium__red__text">About Jetro</h3>
						<div class="dots__line"></div>
						<p class="sidebar__shortext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum. </p>
					</div>
					<div class="sidebar__content">
						<h3 class="medium__red__text">Categories</h3>
						<div class="dots__line"></div>
						<nav class="sidebar__categories">
							<ul>
								<li>Video (3)</li>
								<li>Sports (5)</li>
								<li>Media (2)</li>
								<li>Entertainment (7)</li>
								<li>Life (4)</li>
								<li>uper Cool Stuff (8)</li>
							</ul>
						</nav>
					</div>
					<div class="sidebar__content">
						<h3 class="medium__red__text">Gallery</h3>
						<div class="dots__line"></div>
							<div class="gallery">
								<div class="gallery__photo"></div>
								<div class="gallery__photo"></div>
								<div class="gallery__photo"></div>
								<div class="gallery__photo"></div>
								<div class="gallery__photo"></div>
								<div class="gallery__photo"></div>
								<div class="gallery__photo"></div>
								<div class="gallery__photo"></div>
							</div>
					</div>
					<!-- end sidebar__content -->
				</div>
				<!-- end block__sidebar -->
		<!-- begin dots__line -->
		<div class="dots__line">
			<p>dotsdotsdotsdotsdotsdotsdotsdotsdotsdotsdots</p>
		</div>
		<!-- end dots__line -->
		<!-- begin blog__block -->
		<div class="blog__block">
			<!-- begin blog__icon -->
			<div class="blog__icon">
				<img src="img/icons/file.png" alt="">
			</div>
			<!-- end blog__icon -->
			<!-- begin blog__posts -->
			<div class="blog__posts">
				<!-- begin blog__img -->
				<div class="blog__img">
					<img src="/img/img/jesus.png" alt="">
				</div>
				<!-- end blog__img -->
				<!-- begin blog__post__data -->
				<div class="blog__post__data">
					<!-- begin post__statistic -->
					<div class="post__statistic">
						<h3 class="small__red__text">Date</h3>
						<p class="small__grey__text"> April 15, 2012</p>
						<h3 class="small__red__text">Tags</h3>
						<p class="small__grey__text">Website | Design</p>
						<h3 class="small__red__text">Comments</h3>
						<p class="small__grey__text">4</p>				
					</div>
					<!-- end post__statistic -->
					<!-- begin post__text -->
					<div class="post__text">
						<h2 class="article">Jesus  Typography  Wallpaper  Giveaway!</h2>
						<p class="post__text__info">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
						</p>
						<p class="post__text__info">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
					</div>
					<!-- end post__text -->
				</div>
				<!-- end blog__post__data -->
			</div>
			<!-- end blog__posts -->
		</div>
		<!-- end blog__block -->
		<!-- begin dots__line -->
		<div class="dots__line">
			
		</div>
		<!-- end dots__line -->
		<!-- begin blog__block -->
		<div class="blog__block quote__block">
			<!-- begin blog__icon -->
			<div class="blog__icon">
				<img src="img/icons/brackets.png" alt="">
			</div>
			<!-- end blog__icon -->
			<!-- begin blog__posts -->
			<div class="blog__quote">
				<!-- begin blog__img -->
				<div class="blog__small__img">
					<img src="img/icons/brackets-orange.png" alt="">
				</div>
				<!-- end blog__img -->
				<!-- begin blog__post__data -->
				<div class="quote_post__data">
					<!-- begin post__text -->
					<div class="quote__text">
						<p class="quote__text__info">Write anything you want here in this quotable area. Something unique you want people to learn bout your website or some cool random fact. Its totally up to you. Write anything you want ere in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you.
						</p>
					</div>
					<!-- end post__text -->
				</div>
				<!-- end blog__post__data -->
			</div>
			<!-- end blog__posts -->
		</div>
		<!-- end blog__block -->
		<!-- begin dots__line -->
		<div class="dots__line">
			
		</div>
		<!-- end dots__line -->
		<!-- begin blog__block -->
		<div class="blog__block">
			<!-- begin blog__icon -->
			<div class="blog__icon">
				<img src="img/icons/link.png" alt="">
			</div>
			<!-- end blog__icon -->
			<!-- begin blog__posts -->
			<div class="blog__posts">
				<!-- begin blog__post__data -->
				<div class="blog__post__data">
					<!-- begin post__text -->
					<div class="post__text link__text">
						<h2 class="article">Some  of  the  best  freebies  on  the  web</h2>
						<p class="small__grey__text">www.bestpsdfreebies.com</p>
						<p class="post__text__info">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
						</p>
					</div>
					<!-- end post__text -->
				</div>
				<!-- end blog__post__data -->
			</div>
			<!-- end blog__posts -->
		</div>
		<!-- end blog__block -->
		<!-- begin dots__line -->
		<div class="dots__line">
			
		</div>
		<!-- end dots__line -->
		<!-- begin blog__block -->
		<!-- begin paggination -->  
			<nav class="paggination">
            	<ul>
            		<li><h3 class="h3"><a href="">1</a></h3></li>
            		<li><h3 class="h3"><a href="">2</a></h3></li>
            		<li><h3 class="h3"><a href="">3</a></h3></li>
            	</ul>
			</nav>
		<!-- end paggination -->
	</div>
	<!-- end container -->	
	
{% endblock %}
